<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
      <meta charset="utf-8">
      <title>Lista de Usuarios</title>
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>

   


<div class="container">
    <h2 class="text-center mt-5"> Directorio Familiar</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Birthday</th>
            <th scope="col">Mobile</th>
            <th scope="col">email</th>


          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Eliud</td>
            <td>Bueno Moreno</td>
            <td>21 de Junio</td>
            <td>618-178-01-07</td>
            <td>xe2ebm@hotmail.com</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

</div>




  </body>

</html>